<header>
    <img src="/mermelada-logo.svg" alt="" srcset="">
    <h1>Merme <span class="text-gradient">Recursos</span> 📚</h1>
</header>
<style>
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
		font-size: 3.5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>